<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}" class="html" data-theme="{{ site.theme_config.appearance | default: "auto" }}">
  
  <!-- Head of HTML File (Favicon, Style, Metadata)-->
  {%- include head.html -%}
  
  <body>
    <main class="page-content" aria-label="Content">
      <div class="main-content-wrapper">
        <!-- Header (Navigation Links) -->
        {% if site.theme_config.show_navbar == true %}
          <header>
            <div class="header-flex">
              {% include horizontal_list.html collection=site.data.home.navbar_entries %}
              <div class="header-right-group">
                {% assign url_parts = page.url | split: '/' %}
                {% if url_parts.size > 2 %}
                  {% assign parent_url = url_parts | slice: 0, url_parts.size | pop | join: '/' %}
                  {% if parent_url == "" %}{% assign parent_url = "/" %}{% endif %}
                  <a href="{{ parent_url | relative_url }}" class="back-button">Back</a>
                {% endif %}
                {% include toggle_theme_button.html %}
              </div>
            </div>
            <div class="dashed"></div>
          </header>
        {% endif %}

        <!-- Placeholder for Content -->
        {{ content }}
        
        <!-- Footer (Social Links) -->
        {% if site.theme_config.show_footer == true %}
          <footer class="footer-spacing">
            <div class="dashed"></div>
            <div class="header-flex">
            {% include horizontal_list.html collection=site.data.home.footer_entries %}
            </div>
          </footer>
        {% endif %}
        
        <!-- Copyright + Credit for Moonwalk Theme -->
        <div class="credits">
          {%- if site.theme_config.show_copyright == true -%}
          &copy;&nbsp;{{ "now" | date: "%Y" }}&nbsp;{{site.author}}
          &nbsp;
          •
          &nbsp;
          {%- endif -%}
          <a href="https://github.com/abhinavs/moonwalk" target="_blank" rel="noreferrer">Moonwalk Theme</a> 
        </div>
      </div>
    </main>
  </body>
</html>
